<html>
  <head>
    <title>AUL Diagnosis</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="banner2">
      <div class="nav1">
        <div class="navbar">
          <img
            src="../static/imagesw/donate-blood-save-life-isolated-icon-transfusion-medical-aid-charity-donation-vector-campaign-hand-palm-drop-emergency-154489993-removebg-preview%20(1).png"
            class="logo"
          />
           <ul>
            <li><a href="index.html"> Home</a></li>
            <li><a href="About.html"> About</a></li>
            <li><a href="Predict.html">Predict</a></li>
            <li><a href="AboutUs.html"> AboutUs</a></li>
            <li><a href="signin.html">Log out</a></li>
          </ul>
        </div>
      </div>
      
      <section class="mainh">
        <div class="text">
          <h3>
            <a
              href="https://www.youtube.com/watch?v=PnueuY3PltM"
              >What is Leukemia?</a
            >
          </h3>
          <p>
           Leukemia is cancer of the body's blood-forming tissues, including the bone marrow and the lymphatic system.<br>

              <br>
            <h3>AUL Diagnosis</h3>
          <p>AUL Diagnosis is an automatic diagnosing system that will predict leukemia disease.<br>
		  using a microscopic blood cell image, where the user enters the blood cell image.<br>
		  The system will predict it into two classes category: either Luckman or Normal, by using Artificial intelligence.<br>
          </p>
          </p>
        </div>
        <div class="imagediv">
          <img
            src="https://healthblog.uofmhealth.org/sites/consumer/files/2017-01/UMH_C_BLOODBANK%401x_KEYVISUAL.jpg"
          />
                   <br><span style=" font-weight:bold;color: darkred;"> for more information contact:leukemia.gp2@gmail.com

        </div>
      </section>

    </div>
  </body>
</html>
