<html>

<head>
    <title>AUL Diagnosir</title>
    <link rel ="stylesheet" href = "../static/style.css">

</head>

<body>
    <div class="bg-container">


    <div class = "form-banner">
        <div class="nav1">
            <div class="navbar">
              <img
                src="../static/imagesw/donate-blood-save-life-isolated-icon-transfusion-medical-aid-charity-donation-vector-campaign-hand-palm-drop-emergency-154489993-removebg-preview%20(1).png"
                class="logo"
              />
            </div>
    <div class="formcontainer">
        <div class="app-wrapper">
            <div>
                <h2>Forget ID or Password</h2>
            </div>
            <form  class="form-wrapper" action="/forgetPassword.html" method = "post" enctype="multipart/form-data">
                <div class="form-field">
                    <label>Name</label>
                    <br></br>
                    <input
                        class="input"
                        type="text"
                        name="name"
                        value=""
                        id="name"
                    />
                </div>
                <div class="form-field">
                    <label>email</label>
                    <br></br>
                    <input
                        class="input"
                        type="email"
                        name="email"
                        value=""
                        id="email"
                    />
                </div>
                <div>
                    <button class="submit" onclick="">Forget</button>
					<p>{{ information }}</p>
                </div>
            </form>
            <p class="bottom-text">Don't have an account? Sign up <a href='signup.html' >
                here!</a> </p>

            <p class="bottom-text">Sign in <a href='signin.html'> here!</a> </p>
        </div>

    </div>


    </div>

</body>


</html>