<html>

<head>
    <title>AUL Diagnosir</title>
    <link rel ="stylesheet" href = "../static/style.css">
</head>

<body>
    <div class="bg-container">
    <div class = "form-banner">
        <div class="nav1">
            <div class="navbar">
              <img
                src="../static/imagesw/donate-blood-save-life-isolated-icon-transfusion-medical-aid-charity-donation-vector-campaign-hand-palm-drop-emergency-154489993-removebg-preview%20(1).png"
                class="logo"
              />

            </div>
    <div class="formcontainer">
        <div class="app-wrapper">
            <div>
                <h2>Sign Up</h2>
            </div>
            <form  class="form-wrapper" action = "/signup.html" method = "post" enctype="multipart/form-data">
                	<div class="form-field">
                    <label>ID</label>
                    <br></br>
                    <input
                        class="input"
                        type="text"
                        name="id"
                        id="id"
                        value=""
                    />
                </div>
                <div class="form-field">
                    <label>Name</label>
                    <br></br>
                    <input 
                        class="input" 
                        type="text" 
                        name="name" 
                        value=""
                        id="name"
                    />
                </div>

                <div class="form-field">
                    <label>Email</label>
                    <br></br>
                    <input 
                        class="input" 
                        type="email" 
                        name="email" 
                        value=""
                        id="email"
                    />
                </div>
                <div class="form-field">
                    <label>Password</label>
                    <br></br>
                    <input 
                        class="input" 
                        type="password" 
                        name="password" 
                        value=""
                        id="password"
                    />
                </div>
                <div class="form-field">
                    <label>Re-enter Password</label>
                    <br></br>
                    <input 
                        class="input" 
                        type="password" 
                        name="password_re_enter"
                        value=""
                        id="password_re_enter"
                    />
                </div>
                <div>
                    <button class="submit" onClick="">Sign Up</button>
                    <p>{{ ou }}</p>
                </div>
            </form>
            <p class="bottom-text">Already have an account? Sign in <a href='signin.html'> here!
               
            </a>
            </p>
        </div>
        
    </div>


    </div>

</body>


</html>